
<div class="body">
  <div class="container">
    <h1 class="brand"><span>Meeting</span> Planner</h1>
    <div class="wrapper animated bounceInLeft">
      
      <div class="signin-form">
        <h3>Enter your Registered Email</h3>
        <form>
         
          <p>
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]= "password" placeholder="New Password">
            
          </p>
          <p>
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" [(ngModel)]= "confirmPassword" placeholder="Confirm password">
          </p>
          
          <p class="full">
            <button type="submit" (click) = "resetPassword()">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>